:root {
  /* Light Steel */
  --mono-1: #f8f9fa;
  --mono-2: #e9ecef;
  --mono-3: #dee2e6;
  --mono-4: #ced4da;
  --mono-5: #6c757d;
  --mono-6: #495057;
  --mono-7: #343a40;
  --mono-8: #212529;

  --green: #1F551F;
  --red: #7C2525;
  --red-light: #774444;
}
