#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .sudoku {} */

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 9 boxes width */
  grid-template-rows: repeat(9, 1fr); /* 9 boxes height */
  width: 450px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  margin: 2rem auto;
  border: 2px solid var(--text-h); /* outer edge of grid */
}

.grid.empty {
  cursor: default;
}

.grid.solved {
  color: white;
  background-color: blue;
}

.cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border); /* thin cell divisions */
  font-size: 1.5rem;
  user-select: none;
}

/* .cell.given {} */

.cell.selectable {
  cursor: pointer;
}

.cell.selected {
  background-color: var(--border);
}

.cell.highlighted {
  color: white;
  background-color: orange;
}

.cell.correct {
  color: white;
  background-color: green;
}

.cell.incorrect {
  color: white;
  background-color: red;
}

.box-right {
  border-right: 2px solid var(--text-h);
}

.box-bottom {
  border-bottom: 2px solid var(--text-h);
}

.number-selector {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 450px;
  max-width: 100%;
  aspect-ratio: 9 / 1;
  margin: 2rem auto;
  border: 2px solid var(--text-h);
}

.number {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  font-size: 1.5rem;
  user-select: none;
}

.number.active {
  cursor: pointer;
}

.number.selected {
  background-color: var(--border);
}

/* .number.guess {} */

.number.guess.correct {
  color: white;
  background-color: green;
}

.number.guess.incorrect {
  color: white;
  background-color: red;
}

/* .number.candidates {} */

/* .number.candidates.candidate {} */

.difficulty-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 450px;
  max-width: 100%;
  aspect-ratio: 18 / 1;
  margin: 2rem auto;
}

.difficulty {
  border: 2px solid var(--text-h);
  cursor: pointer;
}

/* .difficulty.easy {} */

/* .difficulty.medium {} */

/* .difficulty.hard {} */

.button-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 450px;
  max-width: 100%;
  aspect-ratio: 18 / 1;
  margin: 2rem auto;
}

.candidates-button {
  border: 2px solid var(--text-h);
  cursor: pointer;
}

.candidates-button.on {
  background-color: green;
}

.candidates-button.off {
  background-color: red;
}
