#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .sudoku {} */

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 9 boxes width */
  grid-template-rows: repeat(9, 1fr); /* 9 boxes height */
  width: 450px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  margin: 2rem auto;
  border: 3px solid var(--border); /* outer edge of grid */
}

/* .grid.empty {
  cursor: default;
} */

.grid.solved {
  color: var(--text-h);
  --cell: var(--green); /* redefine --cell inside .grid.solved */
  /* background-color: var(--green); */
}

.cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border); /* thin cell divisions */
  font-size: 2rem;
  user-select: none;
  background-color: var(--cell);
}

/* .cell.given {} */

.cell.selected {
  /* color: selected cell will never contain a value */
  background-color: var(--selected);
}

.cell.highlighted-value {
  color: var(--text-h);
  background-color: var(--highlighted-value);
}

.cell.highlighted-unit {
  color: var(--text-h);
  background-color: var(--highlighted-unit);
}

.cell.correct {
  color: var(--text-h);
  background-color: var(--correct);
}

.cell.incorrect {
  /* color: incorrect cell will never contain a value */
  background-color: var(--incorrect);
}

.cell.box-right {
  border-right: 3px solid var(--border);
}

.cell.box-bottom {
  border-bottom: 3px solid var(--border);
}

.number-selector {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 450px;
  max-width: 100%;
  aspect-ratio: 9 / 1;
  margin: 2rem auto;
  border: 3px solid var(--border);
}

.number {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  font-size: 2rem;
  user-select: none;
  background-color: var(--cell);
}

.number.active {
  cursor: pointer;
}

/* .number.selected {} */

/* .number.guess {} */

.number.guess.correct {
  color: var(--text-h);
  background-color: var(--correct);
}

.number.guess.incorrect {
  color: var(--text-h);
  background-color: var(--incorrect);
}

/* .number.candidates {} */

/* .number.candidates.candidate {} */

.difficulty-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 450px;
  max-width: 100%;
  aspect-ratio: 18 / 1;
  margin: 2rem auto;
}

.difficulty-button {
  cursor: pointer;
  border: 3px solid var(--border);
  border-radius: .3rem;
  background-color: var(--button);
}

/* .difficulty-button.easy {} */

/* .difficulty-button.medium {} */

/* .difficulty-button.hard {} */

.button-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 450px;
  max-width: 100%;
  aspect-ratio: 18 / 1;
  margin: 2rem auto;
}

.candidates-button {
  cursor: pointer;
}

.candidates-button.on {
  border: 3px solid var(--border);
  border-radius: .3rem;
  color: var(--text);
  background-color: var(--on);
}

.candidates-button.off {
  border: 3px solid var(--border);
  border-radius: .3rem;
  color: var(--text-h);
  background-color: var(--off);
}
