:root {
  --text: var(--mono-8);
  --text-h: var(--mono-3);
  --bg: var(--mono-7);
  --border: var(--mono-8);
  --cell: var(--mono-5);
  --selected: var(--mono-5);
  --highlighted-value: var(--mono-7);
  --highlighted-unit: var(--mono-6);
  --correct: var(--green);
  --incorrect: var(--red);
  --button: var(--mono-5);
  --on: var(--mono-4);
  --off: var(--mono-6);
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;



  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

button {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}
